In [20]:
import pandas as pd

df = pd.read_csv(r"C:\Users\Leah\Documents\Python\Pokemon_Data.csv")

print(df)

       #                   Name   Type 1  Type 2  HP  Attack  Defense  \
0      1              Bulbasaur    Grass  Poison  45      49       49
1      2                Ivysaur    Grass  Poison  60      62       63
2      3               Venusaur    Grass  Poison  80      82       83
3      3  VenusaurMega Venusaur    Grass  Poison  80     100      123
4      4             Charmander     Fire     NaN  39      52       43
..   ...                    ...      ...     ...  ..     ...      ...
795  719                Diancie     Rock   Fairy  50     100      150
796  719    DiancieMega Diancie     Rock   Fairy  50     160      110
797  720    HoopaHoopa Confined  Psychic   Ghost  80     110       60
798  720     HoopaHoopa Unbound  Psychic    Dark  80     160       60
799  721              Volcanion     Fire   Water  80     110      120

     Sp. Atk  Sp. Def  Speed  Generation  Legendary
0         65       65     45           1      False
1         80       80     60           1      False
2        100      100     80           1      False
3        122      120     80           1      False
4         60       50     65           1      False
..       ...      ...    ...         ...        ...
795      100      150     50           6       True
796      160      110    110           6       True
797      150      130     70           6       True
798      170      130     80           6       True
799      130       90     70           6       True

[800 rows x 12 columns]

In [23]:
#df.xlsx = pd.read_excel(r'C:\\Users\\Leah\\Documents\\Python\\Pokemon_Data.xlsx')
#print(df.xlsx)

       #                   Name   Type 1  Type 2  HP  Attack  Defense  \
0      1              Bulbasaur    Grass  Poison  45      49       49
1      2                Ivysaur    Grass  Poison  60      62       63
2      3               Venusaur    Grass  Poison  80      82       83
3      3  VenusaurMega Venusaur    Grass  Poison  80     100      123
4      4             Charmander     Fire     NaN  39      52       43
..   ...                    ...      ...     ...  ..     ...      ...
795  719                Diancie     Rock   Fairy  50     100      150
796  719    DiancieMega Diancie     Rock   Fairy  50     160      110
797  720    HoopaHoopa Confined  Psychic   Ghost  80     110       60
798  720     HoopaHoopa Unbound  Psychic    Dark  80     160       60
799  721              Volcanion     Fire   Water  80     110      120

     Sp. Atk  Sp. Def  Speed  Generation  Legendary
0         65       65     45           1      False
1         80       80     60           1      False
2        100      100     80           1      False
3        122      120     80           1      False
4         60       50     65           1      False
..       ...      ...    ...         ...        ...
795      100      150     50           6       True
796      160      110    110           6       True
797      150      130     70           6       True
798      170      130     80           6       True
799      130       90     70           6       True

[800 rows x 12 columns]

In [4]:
### Reading Data in Pandas

## Reading Headers
print(df.columns)

## Reading Each Column
print(df[['Name','Type 1', 'HP']])

## Reading Each Row
print(df.iloc[1:4])

for index, row in df.iterrows():
    print(index,row['Name'])
    
    
## Read a specific location [R,C]
print(df.iloc[2,1])

print(df.loc[df['Type 1']== 'Fire'])

NameError: name 'df' is not defined

In [51]:
## Stats
#df.describe()

,#,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000
mean,362.813750,69.258750,79.001250,73.842500,72.820000,71.902500,68.277500,3.32375
std,208.343798,25.534669,32.457366,31.183501,32.722294,27.828916,29.060474,1.66129
min,1.000000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.00000
25%,184.750000,50.000000,55.000000,50.000000,49.750000,50.000000,45.000000,2.00000
50%,364.500000,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,3.00000
75%,539.250000,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.00000
max,721.000000,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.00000

In [1]:
## Sorting
#df.sort_values('Name')
#df.sort_values('Name', ascending = False)
df.sort_values(['Type 1', 'HP'], ascending = [True,False])

NameError: name 'df' is not defined

In [73]:
### Making Changes to Data

## Add Column
#df['Total'] = df['HP'] + df['Attack'] + df['Defense'] + df['Sp. Atk'] + df['Sp. Def'] + df['Speed']
#print(df)

#df['Total'] = df.iloc[:, 4:10].sum(axis=1)
#print(df)

       #                   Name   Type 1  Type 2  HP  Attack  Defense  \
0      1              Bulbasaur    Grass  Poison  45      49       49
1      2                Ivysaur    Grass  Poison  60      62       63
2      3               Venusaur    Grass  Poison  80      82       83
3      3  VenusaurMega Venusaur    Grass  Poison  80     100      123
4      4             Charmander     Fire     NaN  39      52       43
..   ...                    ...      ...     ...  ..     ...      ...
795  719                Diancie     Rock   Fairy  50     100      150
796  719    DiancieMega Diancie     Rock   Fairy  50     160      110
797  720    HoopaHoopa Confined  Psychic   Ghost  80     110       60
798  720     HoopaHoopa Unbound  Psychic    Dark  80     160       60
799  721              Volcanion     Fire   Water  80     110      120

     Sp. Atk  Sp. Def  Speed  Generation  Legendary  Total
0         65       65     45           1      False    318
1         80       80     60           1      False    405
2        100      100     80           1      False    525
3        122      120     80           1      False    625
4         60       50     65           1      False    309
..       ...      ...    ...         ...        ...    ...
795      100      150     50           6       True    600
796      160      110    110           6       True    700
797      150      130     70           6       True    600
798      170      130     80           6       True    680
799      130       90     70           6       True    600

[800 rows x 13 columns]

In [86]:
#df[['Total','HP','Defense']]
#cols = list(df.columns.values)
#df=df[cols[0:4] + [cols[-1]]+cols[4:12]]
#print(df)

       #                   Name   Type 1  Type 2  Generation  Legendary  \
0      1              Bulbasaur    Grass  Poison           1      False
1      2                Ivysaur    Grass  Poison           1      False
2      3               Venusaur    Grass  Poison           1      False
3      3  VenusaurMega Venusaur    Grass  Poison           1      False
4      4             Charmander     Fire     NaN           1      False
..   ...                    ...      ...     ...         ...        ...
795  719                Diancie     Rock   Fairy           6       True
796  719    DiancieMega Diancie     Rock   Fairy           6       True
797  720    HoopaHoopa Confined  Psychic   Ghost           6       True
798  720     HoopaHoopa Unbound  Psychic    Dark           6       True
799  721              Volcanion     Fire   Water           6       True

     Total  HP  Attack  Defense  Sp. Atk  Sp. Def  Speed
0      318  45      49       49       65       65     45
1      405  60      62       63       80       80     60
2      525  80      82       83      100      100     80
3      625  80     100      123      122      120     80
4      309  39      52       43       60       50     65
..     ...  ..     ...      ...      ...      ...    ...
795    600  50     100      150      100      150     50
796    700  50     160      110      160      110    110
797    600  80     110       60      150      130     70
798    680  80     160       60      170      130     80
799    600  80     110      120      130       90     70

[800 rows x 13 columns]

In [87]:
## Saving new csv file
df.to_csv(r"C:\Users\Leah\Documents\Python\Pokemon_Data_Modified.csv", index=False)

In [5]:
## Filtering Data

newdf=df.loc[(df['Type 1'] == 'Fire') & (df['Total'] > 600)]

NameError: name 'df' is not defined

In [99]:
print(newdf)

       #                       Name Type 1    Type 2  Generation  Legendary  \
7      6  CharizardMega Charizard X   Fire    Dragon           1      False
8      6  CharizardMega Charizard Y   Fire    Flying           1      False
270  250                      Ho-oh   Fire    Flying           2       True
279  257      BlazikenMega Blaziken   Fire  Fighting           3      False

     Total   HP  Attack  Defense  Sp. Atk  Sp. Def  Speed
7      634   78     130      111      130       85    100
8      634   78     104       78      159      115    100
270    680  106     130       90      110      154     90
279    630   80     160       80      130       80    100

In [103]:
## reset indexing
newdf = newdf.reset_index(drop=True)
print(newdf)

   index    #                       Name Type 1    Type 2  Generation  \
0      7    6  CharizardMega Charizard X   Fire    Dragon           1
1      8    6  CharizardMega Charizard Y   Fire    Flying           1
2    270  250                      Ho-oh   Fire    Flying           2
3    279  257      BlazikenMega Blaziken   Fire  Fighting           3

   Legendary  Total   HP  Attack  Defense  Sp. Atk  Sp. Def  Speed
0      False    634   78     130      111      130       85    100
1      False    634   78     104       78      159      115    100
2       True    680  106     130       90      110      154     90
3      False    630   80     160       80      130       80    100

In [105]:
## Dropping all names that include Mega b/c I dont know what it means (~ means does not)

newdf = df.loc[~df['Name'].str.contains('Mega')]
print(newdf)

       #                 Name   Type 1  Type 2  Generation  Legendary  Total  \
0      1            Bulbasaur    Grass  Poison           1      False    318
1      2              Ivysaur    Grass  Poison           1      False    405
2      3             Venusaur    Grass  Poison           1      False    525
4      4           Charmander     Fire     NaN           1      False    309
5      5           Charmeleon     Fire     NaN           1      False    405
..   ...                  ...      ...     ...         ...        ...    ...
794  718     Zygarde50% Forme   Dragon  Ground           6       True    600
795  719              Diancie     Rock   Fairy           6       True    600
797  720  HoopaHoopa Confined  Psychic   Ghost           6       True    600
798  720   HoopaHoopa Unbound  Psychic    Dark           6       True    680
799  721            Volcanion     Fire   Water           6       True    600

      HP  Attack  Defense  Sp. Atk  Sp. Def  Speed
0     45      49       49       65       65     45
1     60      62       63       80       80     60
2     80      82       83      100      100     80
4     39      52       43       60       50     65
5     58      64       58       80       65     80
..   ...     ...      ...      ...      ...    ...
794  108     100      121       81       95     95
795   50     100      150      100      150     50
797   80     110       60      150      130     70
798   80     160       60      170      130     80
799   80     110      120      130       90     70

[751 rows x 13 columns]

In [106]:
## Aggregate Statistics

df = pd.read_csv(r"C:\Users\Leah\Documents\Python\Pokemon_Data_Modified.csv")

df

,#,Name,Type 1,Type 2,Generation,Legendary,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed
0,1,Bulbasaur,Grass,Poison,1,False,318,45,49,49,65,65,45
1,2,Ivysaur,Grass,Poison,1,False,405,60,62,63,80,80,60
2,3,Venusaur,Grass,Poison,1,False,525,80,82,83,100,100,80
3,3,VenusaurMega Venusaur,Grass,Poison,1,False,625,80,100,123,122,120,80
4,4,Charmander,Fire,NaN,1,False,309,39,52,43,60,50,65
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,6,True,600,50,100,150,100,150,50
796,719,DiancieMega Diancie,Rock,Fairy,6,True,700,50,160,110,160,110,110
797,720,HoopaHoopa Confined,Psychic,Ghost,6,True,600,80,110,60,150,130,70
798,720,HoopaHoopa Unbound,Psychic,Dark,6,True,680,80,160,60,170,130,80
799,721,Volcanion,Fire,Water,6,True,600,80,110,120,130,90,70

In [113]:
df.groupby(['Type 1']).mean().sort_values('Total', ascending=False)

,#,Generation,Legendary,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed
Type 1,,,,,,,,,,
Dragon,474.375000,3.875000,0.375000,550.531250,83.312500,112.125000,86.375000,96.843750,88.843750,83.031250
Steel,442.851852,3.851852,0.148148,487.703704,65.222222,92.703704,126.370370,67.518519,80.629630,55.259259
Flying,677.750000,5.500000,0.500000,485.000000,70.750000,78.750000,66.250000,94.250000,72.500000,102.500000
Psychic,380.807018,3.385965,0.245614,475.947368,70.631579,71.456140,67.684211,98.403509,86.280702,81.491228
Fire,327.403846,3.211538,0.096154,458.076923,69.903846,84.769231,67.769231,88.980769,72.211538,74.442308
Rock,392.727273,3.454545,0.090909,453.750000,65.363636,92.863636,100.795455,63.340909,75.477273,55.909091
Dark,461.354839,4.032258,0.064516,445.741935,66.806452,88.387097,70.225806,74.645161,69.516129,76.161290
Electric,363.500000,3.272727,0.090909,443.409091,59.795455,69.090909,66.295455,90.022727,73.704545,84.500000
Ghost,486.500000,4.187500,0.062500,439.562500,64.437500,73.781250,81.187500,79.343750,76.468750,64.343750
Ground,356.281250,3.156250,0.125000,437.500000,73.781250,95.750000,84.843750,56.468750,62.750000,63.906250
Ice,423.541667,3.541667,0.083333,433.458333,72.000000,72.750000,71.416667,77.541667,76.291667,63.458333
Water,303.089286,2.857143,0.035714,430.455357,72.062500,74.151786,72.946429,74.812500,70.517857,65.964286
Grass,344.871429,3.357143,0.042857,421.142857,67.271429,73.214286,70.800000,77.500000,70.428571,61.928571
Fighting,363.851852,3.370370,0.000000,416.444444,69.851852,96.777778,65.925926,53.111111,64.703704,66.074074
Fairy,449.529412,4.117647,0.058824,413.176471,74.117647,61.529412,65.705882,78.529412,84.705882,48.588235
Normal,319.173469,3.051020,0.020408,401.683673,77.275510,73.469388,59.846939,55.816327,63.724490,71.551020
Poison,251.785714,2.535714,0.000000,399.142857,67.250000,74.678571,68.821429,60.428571,64.392857,63.571429
Bug,334.492754,3.217391,0.000000,378.927536,56.884058,70.971014,70.724638,53.869565,64.797101,61.681159

In [114]:
df['count'] = 1 #creates a column filled with 1
df.groupby(['Type 1','Type 2']).count()['count'] # counts the number of type 2s given type 1

Type 1  Type 2
Bug     Electric     2
        Fighting     2
        Fire         2
        Flying      14
        Ghost        1
                    ..
Water   Ice          3
        Poison       3
        Psychic      5
        Rock         4
        Steel        1
Name: count, Length: 136, dtype: int64

In [118]:
## passing in a certain amount of rows at a time

for df in pd.read_csv('r"C:\Users\Leah\Documents\Python\Pokemon_Data_Modified.csv' , chunksize=5):
    print("CHUNK DF")
    print(df)

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 4-5: truncated \UXXXXXXXX escape (<ipython-input-118-dd996e7eba9b>, line 3)